@font-face {
  font-family: 'Montserrat';
  src: url('./assets/Fonts/Montserrat-VariableFont_wght.ttf') format('truetype');
}

*{
  margin:0;
  padding: 0;
}
:root {
  font-family: 'Montserrat', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.box{
  display: flex;
  justify-content: center;
  width: 98.5vw; 
  margin-top: 1vh;
  min-height: calc(87vh);
}
.container{
  width: 90vw;
  display: block;
}
.pageBorder{
  display: flex;
  justify-content: center;
  min-height: calc(74vh);
  border: 0.3rem solid black;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
}
.pageBorder_interior{
  width: 90%;
}
h1,h2,h3{
  margin-top: 0;
  margin-bottom: 0;
}
.calificar{
  margin: 2rem;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
} 
.calificar_inputText{
  display: block;
  min-height: 10vw;
  width: 50vw;
  padding: 1rem;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border: 0.3rem solid black;
}
.notaOrden{
  display: flex;
  margin-top: 1rem;
  justify-content: space-between;
}
.calificar_inputNota{
  padding: 0.3rem;
  display: inline;
  border-radius: 0.3rem;
  -webkit-border-radius: 0.3rem;
  -moz-border-radius: 0.3rem;
  -ms-border-radius: 0.3rem;
  -o-border-radius: 0.3rem;
  border: 0.3rem solid black;
}
.divContainerPlani{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  min-height: 50vh;
}
.icons{
 color: white;
 padding: 0.3rem;
 background-color:#E30613;
 border-radius: 0.2rem;
 -webkit-border-radius: 0.2rem;
 -moz-border-radius: 0.2rem;
 -ms-border-radius: 0.2rem;
 -o-border-radius: 0.2rem;
}
.icons:hover{
  background-color: #c50512;
}
.iconsSec{
  padding: 0.3rem;
  color: white;
  background-color: #114093;
  border-radius: 0.2rem;
  -webkit-border-radius: 0.2rem;
  -moz-border-radius: 0.2rem;
  -ms-border-radius: 0.2rem;
  -o-border-radius: 0.2rem;
}
 .iconsSec:hover{
   background-color: #0e316d;
 }

 .buttonIzq{
  display: flex;
  width: 100%;

  justify-content: end;
 }